<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hosptial.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @hosptial.tel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hosptial.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @hosptial.website %>
</p>

<%= link_to 'Back', hosptials_path %>
