<h1>Developer Test Application</h1>
<% unless current_user %>
<ul>
  <li><%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Log in", new_user_session_path %></li>
</ul>
<% else %>
<p>Hello <%= current_user.email %>
<ul>
  <li><%= link_to "Log out", destroy_user_session_path %></li>
</ul>

<div class="card">
  <div class="card-body">
    <p class="card-text">Find an A&E hosptial near you</p>
    <a href="<%= hosptials_path %>" class="card-link">Search</a>
  </div>
</div>

<% end%>