<div class="container">
<h1> A&E Hospitals</h1>

  <%= form_tag(hospitals_path, method: :get, class: 'form-inline') do %>
    <div class="form-row align-items-center">
      <div class="col-auto">
      <%= text_field_tag :postcode, nil, class: 'form-control', placeholder: 'Postcode' %>
      </div>
    <div class="col-auto">
    <%= submit_tag 'Search', class: "btn btn-primary" %>
    </div>
    </div>
  <% end %>
</div>
<div class="container">
<h2><%= @hospitals.count unless @hospitals.nil? %> Results</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tel</th>
      <th>Address</th>
      <th>Website</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @hospitals.nil? %>
      <% @hospitals.each do |hospital| %>
        <tr>
          <td><%= hospital.name %></td>
          <td><%= hospital.tel %></td>
          <td><%= hospital.address %></td>
          <td><%= hospital.website %></td>
          <td><%= link_to 'Show', hospital %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
