<!DOCTYPE html>
<html>
  <head>
    <title>Bzdevtest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <main role="main" class="container">
    <%if notice.present? %>
    		<div class="alert alert-success alert-dismissible fade show" role="alert"><%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
    <%if alert.present? %>
       	<div class="alert-warning alert-dismissible fade show" role="alret"><%= alert %>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

      <%= yield %>
      </main>
  </body>
</html>
